<a
    href="https://magicpassword.io/config/private-wp_{{ integration_id }}_{{ session_id }}?s={{ totp_secret }}&m={{ mobile_secret }}&u={{ login }}"
    class="mf-btn magic-button mf-js-handle-focus">Configure with Magic Button</a>
