<div class="mf-modal-backdrop mf-scanning-tips-modal mf-anim-off">
    <div class="mf-modal-backdrop-content">
        <div class="mf-modal" tabindex="-1">
            <div class="mf-modal-content">
                <h2>This is super easy:</h2>
                <div class="mf-modal-steps-container">
                    <div class="mf-modal-step">
                        <p class="mf-modal-step-paragraph">Step 1</p>
                        <img src="{{ assets_url }}images/tips-step-1.png" alt="Tips - step 1" class="mf-desktop-tip">
                        <img src="{{ assets_url }}images/tips-mobile-step-1.png" alt="Tips Mobile - step 1" class="mf-mobile-tip">
                        <p class="mf-modal-step-desc mf-desktop-tip">Point camera at the Magic Code</p>
                        <p class="mf-modal-step-desc mf-mobile-tip">Open login form</p>
                    </div>
                    <div class="mf-modal-step">
                        <p class="mf-modal-step-paragraph">Step 2</p>
                        <img src="{{ assets_url }}images/tips-step-2.png" alt="Tips - step 2" class="mf-desktop-tip">
                        <img src="{{ assets_url }}images/tips-mobile-step-2.png" alt="Tips Mobile - step 2" class="mf-mobile-tip">
                        <p class="mf-modal-step-desc mf-desktop-tip">Wait for verification</p>
                        <p class="mf-modal-step-desc mf-mobile-tip">Tap button to log in</p>
                    </div>
                    <div class="mf-modal-step">
                        <p class="mf-modal-step-paragraph">Step 3</p>
                        <img src="{{ assets_url }}images/tips-step-3.png" alt="Tips - step 1" class="mf-desktop-tip">
                        <img src="{{ assets_url }}images/tips-mobile-step-3.png" alt="Tips Mobile - step 1" class="mf-mobile-tip">
                        <p class="mf-modal-step-desc mf-desktop-tip">You're logged in!</p>
                        <p class="mf-modal-step-desc mf-mobile-tip">You're logged in!</p>
                    </div>
                </div>
                <input type="button" class="mf-js-close-modal mf-btn mf-action" value="All good, thanks!" />
            </div>
        </div>
    </div>
</div>
